.imageone{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

.imagetwo{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

.imagethree{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

.imagefour{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image5{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

.second-image6{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image7{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image8{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image9{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image10{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}
.second-image11{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

.second-image12{
    font-size: medium;
    font-weight: bold;
    color:orangered;
    text-align: center;
    cursor: pointer;
}

#title{
    font-weight: bold;
    color:#fff;
    background-color: orangered;
    text-align: center;
    height:9vh;
text-transform: uppercase;
padding:10px;
margin: 10px;
}
